* {
    margin: auto auto;
    padding: 0px 0px;
}

.main-header {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 100px;
}

.logo {
    margin-bottom: -45px;
    margin-left: -168px;
}

.logo-word {
    position: left;
    /* bottom: 8px; */
    margin-left: -154px;
}

body {
    background-image: url("./pics/background.png");
    color: white;
}

.layer {
    background-color: #1e0721;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 230vh;
    opacity: 0.8;
}

h1 {
    margin-left: 213px;
    font-weight: lighter;
    font-size: 47px;
    font-family: sans-serif;
}

a {
    color: white;
}

a:link {
    margin-left: 36px;
    color: white;
}

.homep {
    text-align: center;
    margin: 20px 70px;
    line-height: 36px;
    font-family: sans-serif;
}

footer {
    max-width: 1000px;
    max-height: 50px;
    /* border: 10px solid black; */
    /* display: flex; */
}

.footer-pic {
    width: 240px;
    height: 240px;
    margin-left: 20px;
}

.centerx {
    margin-bottom: -20px;
    margin-top: 150px;
}

.main-footer {
    border: 3px solid grey;
    display: flex;
    opacity: 9.2;
    background-color: white;
    /* background-color: fade(#ffffff, 50%); */
    position: absolute;
}

.circle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    margin: 30px;
    background-color: white;
    /* margin-left: 20px; */
}

.flex {
    display: flex;
    margin-left: 20px;
    align-items: center;
    margin-bottom: 150px;
}

.navdots {
    display: flex;
}